SERVER_ADDRESS=127.0.0.1
SERVER_PORT=9100
GMAIL_STORE_DIR=./data/gmail
IMAP_HOST=imap.gmail.com
IMAP_PORT=993
IMAP_USERNAME=you@gmail.com
IMAP_PASSWORD=your-16-char-app-password
IMAP_FOLDER=INBOX
GMAIL_WEBHOOK_CLIENTS=http://127.0.0.1:9200/analyzer/email
AUTH_BASE_URL=http://127.0.0.1:8081
AUTH_CLIENT_ID=gmail-general
AUTH_CLIENT_SECRET=
