.git
**/target
**/.gradle
**/build
**/logs
**/.terraform
.env
.env.*
!apps/klippy/combined-server/docker-combined.env
!**/.env.example
!**/.env.*.example
*.class
*.log
*.pid
.idea
.vscode
*.iml
*.tfstate
*.tfstate.*
*.tfvars
!*.tfvars.example
