SERVER_ADDRESS=0.0.0.0
SERVER_PORT=8085
SECRETS_DATASOURCE_URL=jdbc:postgresql://localhost:5432/secrets
SECRETS_DATASOURCE_USERNAME=secrets
SECRETS_DATASOURCE_PASSWORD=secrets
SECRETS_JPA_HIBERNATE_DDL_AUTO=update
SECRETS_JPA_JDBC_TIME_ZONE=UTC
AUTH_BASE_URL=http://localhost:8080
LOGGING_FILE_NAME=logs/secrets-manager-server.log
