SECRETS_SERVER_PORT=8085
SECRETS_DATASOURCE_URL=jdbc:postgresql://localhost:5435/secrets
SECRETS_DATASOURCE_USERNAME=secrets
SECRETS_DATASOURCE_PASSWORD=secrets
SECRETS_JPA_HIBERNATE_DDL_AUTO=update
SECRETS_JPA_JDBC_TIME_ZONE=UTC
SECRETS_AUTH_BASE_URL=http://localhost:8080
SECRETS_LOGGING_FILE_NAME=logs/secrets-server.log
